@use './variables.scss' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: $bg-neutral;
  text-align: center;

  .footer-text {
    font-family: $font-family;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .linkedin-link {
    color: $bg-neutral;
    font-size: 2rem;
    transition: color 0.3s ease;
  }

  @media (max-width: $breakpoint-md) {
    .footer-text {
      font-size: 1rem;
    }

    .linkedin-link {
      font-size: 1.5rem;
    }
  }

  &.pro-mode {
    background-color: #00a8a8; /* Couleur au choix pour le mode pro */
  }
  &.personal-mode {
    background-color: #f08a5d; /* Couleur au choix pour le mode perso */
  }
}