@use './variables.scss' as *;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Typography */
body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
}

/* Utility Classes */
/* Global container for consistent layout */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: $breakpoint-lg) {
    width: 80%;
  }
}

.text-center {
  text-align: center;
}

/* Responsive Breakpoints */
@media (max-width: $breakpoint-md) {
  .container {
    padding: 0 0.5rem;
  }
}

.pro-mode {
  color: $pro-secondary-color;
}

.personal-mode {
  color: $personal-secondary-color;
}

.personal-intro {
  text-align: center;
  margin-bottom: 2rem;
  background-color: peruvian-blue;
  padding: 1rem;

  h2 {
    color: $personal-primary-color;
  }
}

.personal-passions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .passion-item {
    flex: 1 1 calc(33.333% - 1rem);
    background-color: $personal-secondary-color;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h3 {
      margin-bottom: 0.5rem;
      color: $personal-primary-color;
    }

    p {
      color: $text-dark;
    }
  }
}