@use '../variables.scss' as *;

/* Updated Experience Section Styles */
.experience-section {
  padding: 4rem 2rem; /* Adjusted padding for better spacing */
  background-color: $bg-neutral;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text */

  h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: $text-dark;
  }

  .exp-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto 2rem auto; /* Center cards */
    max-width: 600px; /* Limit card width */

    h4 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      color: $accent-teal;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.8;
      color: $text-dark;
    }
  }
}
